/* productListingPage.css */

/* Pokemon List Cards */
.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Shadow effect */
    transition: box-shadow 0.3s ease; /* Smooth transition */
    margin-bottom: 20px; /* Add margin for spacing */
    width:300px; /* Calculate width for three cards in a row */
    margin-right: 20px; /* Add right margin to create space between cards */
  }
  
  .card:last-child {
    margin-right: 0; /* Remove right margin from last card */
  }
  
  .card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
    transform: translateY(-5px); /* Move card up slightly on hover */
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .card-body {
    padding: 16px;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .card-link {
    color: #007bff; /* Link color */
    text-decoration: none;
    cursor: pointer;
  }
  
  .card-link:hover {
    text-decoration: underline; /* Underline link on hover */
  }
  
  @media screen and (max-width: 768px) {
    .card {
      width: calc(50% - 20px); /* Adjust width for smaller screens */
    }
  }
  