.pdp-container{
    width: 100vw;
    height: 100vh;
    background-color: inherit;
}
.pdp-container{
    display: flex;
    justify-content: center;
    height: 100vh;
}
.pokemon-card{
    border: 1px solid #ccc;
    display: flex;
    width: 75%;
    height: 90%;
    flex-direction: column;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.pokemon-header{
    display: flex;
    align-items: center;
}
.pokemon-content{
    display: flex;
    flex-direction: row;
}
.pokemon-abilities {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

h5{
    font-weight: 200;
    text-align: start;
}
.pokemon-abilities ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.pokemon-abilities li {
    margin-bottom: 5px;
}
.pokemon-type{
    display: flex;
    flex-direction: row;
    border-radius: 2px;
    margin: 5px;
    width: 75px;
    
}

.pokemon-type ul{
    padding-left: 10px;
}
.type-grass {
    background-color: #78C850;
}
.type-fire {
    background-color: #F08030;
}
.type-water {
    background-color: aqua;
}
.type-flying{
    background-color: #6890F0;
}
.type-bug {
    background-color: #A8B820;
}
.type-poison {
    background-color: blueviolet;
}
.type-normal {
    background-color: #A8A878;
}
.login-container {
    display: flex;
    justify-content: end;
    align-self: center;
    
}
.login-container button{
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
}


